// Trillian Astra OS X default chat CSS
// Now with even more 'I am not a web designer' suck!
//

body {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
}

span.text {
	position: relative;
	top: 1px;    
	line-height: 1.3;
	word-break: break-word;
    -webkit-user-select: text;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}

.action_name {
	font-weight: bolder;
}

.timestamp {
	color: #afafaf;
}

.name_incoming {
	color: blue;
}

.name_outgoing {
	color: red;
}

span.text.historical {
	opacity: 0.5;
}

.historical {
	opacity: 0.75;
}

